*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    background-color: #fff3e4;
    font-family: 'Quicksand', sans-serif;
    clear:both;
}

section{
    background-image: url("asd.jpg");
}



.titolo{
    text-align:left;
    float: left;
    color: yellow;
    font-size: 350%;
    font-weight: bold;
    
}
#title{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    opacity: 100%;
    text-align: left;
    color: rgb(233, 229, 34);
}

#first {
    color: rgb(0, 0, 0);
    text-align: center;
    padding:5px 10px;
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px; 
}

#first.home {
    text-align: left;
}

#first>p {
    text-align: left;  
}


#second {
    color: rgb(0, 0, 0);
    text-align: center;
    padding:5px 10px;
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
}
#second.home {
    text-align: left;
}

#second>p {
    text-align: left;
}

#third {
    color: rgb(0, 0, 0);
    text-align: center;
    padding:5px 10px;
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
}

#third.home {
    text-align: left;
}

#third>p {
    text-align: left;
}

#fourth {
    color: rgb(0, 0, 0);
    text-align: center;
    padding:5px 10px;
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
}

#fourth.home {
    text-align: left;
}

#fourth>p {
    text-align: left;
}

#fifth {
    color: rgb(0, 0, 0);
    padding:5px 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
}

#fifth.home {
    text-align: left;
}

#fifth>p {
    text-align: left;
}

ul>li:first-child{
    text-decoration: none;
    
}
#drop-menu{
    width:100%;
    //padding:20px;
}

ul#menu {
	//margin: 1px 1px 1px 1px;
	padding:20px;
	list-style: none;
	float:left;
	width:100%;
	background-color: rgb(46, 117, 224);
	font-size:80%;
}


ul#menu li {
	margin:0;
	padding:0%;
	float:right;
	display: block;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:12px 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    text-decoration: none;
}

ul#menu li a:hover {
	background: rgb(210, 219, 82);
	color:#fff
}

ul#menu ul {
    text-decoration: none;
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: rgb(99, 149, 224);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	width: 140px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

ul#menu ul a:hover {
	background-color: rgb(216, 224, 98);
	color:#fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:left;
}

#home{
    color: #EFEFEF;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 1%;
}

ul li{
    display:inline-block;
}


 
ul li a {
    color: #EFEFEF;
    text-align: center;
    padding:5px 10px;
    text-decoration: none;
}

h1{
    font-size: 45px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title1{
    border-top: solid #000000 2px;
    border-bottom: solid #000000 2px;
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#23415C;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

  #menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
footer{
    color: #112B3C;
    width:100%;
    text-align: left;
    margin-top:2%;
    font-size: 0.9em;
    position: relative;
    bottom:2px;
}
 


















  @media only screen and (max-width: 615px){
    nav{
        clear:both;
    }
    
    ul#menu {
        margin: 1px 1px 1px 1px;
        padding: 1%;
        list-style: none;
        float:right;
        width:100%;
        background-color: rgb(46, 117, 224);
        font-size:80%
        
    }
    
    ul#menu li {
        margin:0;
        padding:0;
        float:right;
        display: block;
        position: relative;
    }
    
    ul#menu li a {
        float: right;
        padding:12px 30px;
        color: #fff;
        text-transform: uppercase;
        text-decoration:none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        text-decoration: none;
    }
    
    ul#menu li a:hover {
        background: rgb(210, 219, 82);
        color:#fff
    }
    
    ul#menu ul {
        text-decoration: none;
        margin:2px 0 0;
        padding:0;
        display:inline-block;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 38px;
        left: 0;
        z-index:9999;
        background: rgb(99, 149, 224);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    ul#menu li:hover ul {
        opacity: 1;
        visibility: visible;
    }
    
    ul#menu ul li {
        float: none;
        display: block;
        border: 0;
    }
    
    ul#menu ul a {
        padding:10px;
        width: 140px;
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
    }
    
    ul#menu ul a:hover {
        background-color: rgb(216, 224, 98);
        color:#fff;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align:left;
    }
    
    #home{
        color: #EFEFEF;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        margin-left: 1%;
    }
    
    ul li{
        display:inline-block;
    }
    
    
     
    ul li a {
        color: #EFEFEF;
        text-align: center;
        padding:5px 10px;
        text-decoration: none;
    }
    #title{
        font-family: 'Montserrat', sans-serif;
        font-size: 100%;
        opacity: 85%;
        padding: 4%;
        margin-bottom: 4%;
        width: 100%;
    }
  }