*{
    background-color: blue;
    clear: both;
}
h1{
    color: black;
    background-color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    width: 100%;
    margin: 0%;
}
body{
    text-align: center;
    color: black;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
footer{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    background-color: yellow;
    padding-top: 3%;
    padding-bottom: 3%;
    width:100%;
}
#foto{
    position: static;
    text-align: center;
}